/* Force Monokai code blocks in both modes */
.monokai .highlight { background: #272822 !important; color: #f8f8f2 !important; }
.monokai .highlight pre { background: #272822 !important; }
.monokai .highlight code { background: #272822 !important; }

/* Rest of the Monokai styles */
.monokai .highlight .hll { background-color: #49483e }
.monokai .highlight .c { color: #75715e } /* Comment */
.monokai .highlight .err { color: #960050; background-color: #1e0010 }
.monokai .highlight .k { color: #66d9ef } /* Keyword */
.monokai .highlight .l { color: #ae81ff } /* Literal */
.monokai .highlight .n { color: #f8f8f2 } /* Name */
.monokai .highlight .o { color: #f92672 } /* Operator */
.monokai .highlight .p { color: #f8f8f2 } /* Punctuation */
.monokai .highlight .cm { color: #75715e }
.monokai .highlight .cp { color: #75715e }
.monokai .highlight .c1 { color: #75715e }
.monokai .highlight .cs { color: #75715e }
.monokai .highlight .kc { color: #66d9ef }
.monokai .highlight .kd { color: #66d9ef }
.monokai .highlight .kn { color: #f92672 }
.monokai .highlight .kp { color: #66d9ef }
.monokai .highlight .kr { color: #66d9ef }
.monokai .highlight .kt { color: #66d9ef }
.monokai .highlight .ld { color: #e6db74 }
.monokai .highlight .m { color: #ae81ff }
.monokai .highlight .s { color: #e6db74 }
.monokai .highlight .na { color: #a6e22e }
.monokai .highlight .nb { color: #f8f8f2 }
.monokai .highlight .nc { color: #a6e22e }
.monokai .highlight .no { color: #66d9ef }
.monokai .highlight .nd { color: #a6e22e }
.monokai .highlight .ni { color: #f8f8f2 }
.monokai .highlight .ne { color: #a6e22e }
.monokai .highlight .nf { color: #a6e22e }
.monokai .highlight .nl { color: #f8f8f2 }
.monokai .highlight .nn { color: #f8f8f2 }
.monokai .highlight .nx { color: #a6e22e }
.monokai .highlight .py { color: #f8f8f2 }
.monokai .highlight .nt { color: #f92672 }
.monokai .highlight .nv { color: #f8f8f2 }
.monokai .highlight .ow { color: #f92672 }
.monokai .highlight .w { color: #f8f8f2 }
.monokai .highlight .mf { color: #ae81ff }
.monokai .highlight .mh { color: #ae81ff }
.monokai .highlight .mi { color: #ae81ff }
.monokai .highlight .mo { color: #ae81ff }
.monokai .highlight .sb { color: #e6db74 }
.monokai .highlight .sc { color: #e6db74 }
.monokai .highlight .sd { color: #e6db74 }
.monokai .highlight .s2 { color: #e6db74 }
.monokai .highlight .se { color: #ae81ff }
.monokai .highlight .sh { color: #e6db74 }
.monokai .highlight .si { color: #e6db74 }
.monokai .highlight .sx { color: #e6db74 }
.monokai .highlight .sr { color: #e6db74 }
.monokai .highlight .s1 { color: #e6db74 }
.monokai .highlight .ss { color: #e6db74 }
.monokai .highlight .bp { color: #f8f8f2 }
.monokai .highlight .vc { color: #f8f8f2 }
.monokai .highlight .vg { color: #f8f8f2 }
.monokai .highlight .vi { color: #f8f8f2 }
.monokai .highlight .il { color: #ae81ff }


