/* Force header title to use available space */
.md-header__title {
  margin-left: 2 !important;
  margin-right: 0.4rem !important;
  max-width: none !important;
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
}

.md-header__title .md-ellipsis {
  white-space: nowrap !important;
  overflow: visible !important;
  text-overflow: clip !important;
}